h3{
    text-align: center;background-color: red;width: 100%;
    text-shadow: whitesmoke; font-size: 50px;
    box-sizing: border-box; border: 20px 30 px;
}
p{
    text-align: justify; color: yellowgreen;
}